BGITU__DB__URL=postgresql+asyncpg://username:password@localhost:5432/db
BGITU__JWT__ACCESS_SECRET_KEY=super-secret-key
BGITU__JWT__REFRESH_SECRET_KEY=ultra-secret-key
BGITU__DEBUG=1
#PROD
#POSTGRES_USER=username
#POSTGRES_PASSWORD=password
#POSTGRES_DB=db