BGITU__JWT__ACCESS_SECRET_KEY=secret-key-for-access
BGITU__DEBUG=1
BGITU__LOGGER__LEVEL=DEBUG
BGITU__DB__HOST=localhost
BGITU__DB__PORT=5432
BGITU__DB__USERNAME=username
BGITU__DB__PASSWORD=password
BGITU__DB__DATABASE=my_database